---
import { socialMedias } from "../constants/socialMedias";
import Button from "./Button.astro";
import Download from "./icons/general/Download.astro";

const metadata = {
  alt: "Foto de Carlos Gonzalez",
  src: "/me.jpg",
};
---

<div
  class="flex flex-col-reverse lg:flex-row items-center justify-between gap-8 lg:gap-16 w-full mt-24 md:mt-32"
>
  <!-- Hero -->
  <div class="gap-4 md:gap-6 flex flex-col w-full">
    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#ABB2BF] text-center lg:text-left"
    >
      ¡Hola soy
      <span class="text-[#569CDE]">Carlos Gonzalez!</span>
    </h1>
    <h2
      class="text-2xl md:text-3xl lg:text-4xl font-semibold text-[#ABB2BF] text-center lg:text-left"
    >
      Desarrollador Fullstack
    </h2>
    <p
      class="text-[#ABB2BF] text-pretty text-base md:text-lg max-w-3xl mx-auto lg:mx-0 px-4 lg:px-0"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut
      condimentum dolor. Nam non nisl nunc. Duis sagittis facilisis sem, ac
      ornare nisi eleifend sed. Etiam in pharetra nulla, vitae tristique risus.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Nulla facilisi. Praesent elementum sit amet enim sed
      eleifend.
    </p>
    <!-- Download Button -->
    <div class="w-full flex justify-center lg:justify-start items-center">
      <Button size="xl" title="cv-carlos-gonzalez" label="¡Descarga mi CV!" icon={Download} />
    </div>
    <!-- Social Media -->
    <div
      class="flex flex-row flex-wrap gap-4 md:gap-6 items-center justify-center lg:justify-start"
    >
      {
        socialMedias.map((item) => (
          <a
            href={item.url}
            target="_blank"
            class="hover:scale-110 transition-transform duration-300 ease-in-out"
            title={item.name}
          >
            <item.icon class="size-8 md:size-10" />
          </a>
        ))
      }
    </div>
    <!-- Social Media -->
  </div>
  <div class="w-64 md:w-80 lg:w-[800px] aspect-square ">
    <img
      src={metadata.src}
      alt={metadata.alt}
      class="rounded-[15px] w-full object-cover object-bottom md:w-80 lg:w-[800px] aspect-square"
    />
  </div>
</div>
